@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-Regular.ttf') format('opentype');
}

.App {
  font-family: 'Montserrat';
}

::-webkit-scrollbar {
  display: none;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 1rem;
  line-height: 1.25;
  border-bottom: 1px solid #ebedf2;
}

.fivePixelHorizontalSpacer {
  width: 5px;
}